Actions are specified in the following format:{% if action_str_list %}{% for act_str in action_str_list %}
- {{ act_str }}{% endfor %}{% else %}
{% include 'default_available_actions.jinja' %}{% endif %}