- click [button X METADATA] (click on the element with id X and METADATA)
- type [element X METADATA] [text] (type text into the element with id X and METADATA)
- done (objective has been completed at this current state)