Transform the input string into a JSON object, ensure that the output keys are only one of "action", "element_id", "element_metadata", "action_args".
---
input: 'type buy bodywash into input 9'
output: {"action": "type", "element_id": 9, "element_metadata": null, "action_args": "buy bodywash"}
--
input: 'click [button 7 iEgsY ComboBox]'
output: {"action": "click", "element_id": 7, "element_metadata": "button 7 iEgsY ComboBox" }
--
input: 'type [input 4 sDmgG search Search] "fork Boise Idaho"'
output: {"action": "type", "element_id": 4, "element_metadata": "input 4 sDmgG", "action_args": "fork Boise Idaho"}
--
input: {{ generated_action }}
output: