{% raw -%}Task: Complete the following JSON by filling in the appropriate values between {{ }}.
{ "input": "Find a nearby coffee shop in {{ wordbank.city }}.", "response": "Find a nearby coffee shop in Boise, ID." }
{ "input": "Look up recipes for {{ wordbank.recipe }}.", "response": "Look up recipes for Butter Chicken" }{%- endraw %}
{ "input": "{{ task_template }}", "response":